body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 1;
}

li a {
    text-decoration: none;
}

/* NAVIGATION CSS  */
nav {
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
}

nav img {
    flex: 1;
    display: flex;
    padding-left: 10px;
    justify-content: left;
    align-items: center
}

nav ul {
    flex: 2;
    display: flex;
    list-style-type: none;
}

nav ul li {
    flex: 1;
}

/* MAIN CSS */

main {
    flex: 8;
    display: flex;
    flex-direction: column;
}

/* profile css: SVG MDN DOCS */

#profile {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#profile img {
    margin: 10px;
    width: 300px;
}

#profile-text {
    max-width: 60%;
}

#profile-text p {
    font-size: 20px;
    text-align: center;
}

.responsive-svg {
    width: 100%; 
    height: 150px;
}

.path {
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 10s forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}


/* PROEJCTS CSS */

h2 {
    text-align: center;
    font-size: 35px;
    margin: 50px;
}

/* post it notes styling: https://webdesign.tutsplus.com/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934t */
.project-list, li {
    list-style-type: none;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-list li a {
    color: black;
    background: #ffc;
    display: block;
    height: 20em;
    width: 20em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
}

.project-list li a::after {
    content: "🌼";
    position: absolute;
    bottom: 0.5em;
    font-size: 1.5em;
}

.project-list li:nth-child(even) a{
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background:#cfc;
}
  
.project-list li:nth-child(3n) a{
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background:#ccf;
}
  
.project-list li:nth-child(5n) a{
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}
  
.project-list li {
    margin: 2em;
}